{% extends "LibraryBundle::base.html.twig" %}

{% block title %}{{ author.firstName }} {{ author.lastName }} &#8211; Social Library{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ author.firstName }} {{ author.lastName }}</h1>
    </div>

    <h2>Info</h2>
    <p>{{ author.info }}</p>

    <h2>Books</h2>
    <div class="row row-list">
        {% for book in author.publishedBooks %}
            <div class="col-xs-6 col-md-3">
                <a href="{{ path('book_view', {id: book.id}) }}" class="thumbnail">
                    {% if book.cover %}
                        <img src="{% if 'http://' in book.cover %}{{ book.cover }}{% else %}{{ asset('uploads/' ~ book.cover) }}{% endif %}"
                             alt="{{ book.title }}">
                    {% endif %}
                    <h3>
                        <small>{{ book.title }}</small>
                    </h3>
                    <h4>
                        <small>
                            {% for bookAuthor in book.authors %}
                                {{ bookAuthor.firstName }} {{ bookAuthor.lastName }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </small>
                    </h4>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}