{% extends "LibraryBundle::base.html.twig" %}

{% block title %}Social Library{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Social Library</h1>
        <p>Support our new project</p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('book_list') }}" role="button">View all books</a></p>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>Genres</h2>

            <div class="list-group">
                {% for genre in genres %}
                    {% if genre.publishedBooks|length %}
                        <a href="{{ path('genre_view', {id: genre.id}) }}" class="list-group-item">
                            <span class="badge">{{ genre.publishedBooks|length }}</span>
                            {{ genre.name }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <h2>Most Recently Added</h2>

            <div class="row row-list">
                {% for book in books %}
                    <div class="col-xs-6 col-md-4">
                        <a href="{{ path('book_view', {id: book.id}) }}" class="thumbnail">
                            {% if book.cover %}
                                <img src="{% if 'http://' in book.cover %}{{ book.cover }}{% else %}{{ asset('uploads/' ~ book.cover) }}{% endif %}"
                                     alt="{{ book.title }}">
                            {% endif %}
                            <h3>
                                <small>{{ book.title }}</small>
                            </h3>
                            <h4>
                                <small>
                                    {% for author in book.authors %}
                                        {{ author.firstName }} {{ author.lastName }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </small>
                            </h4>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <p><a class="btn btn-primary" href="{{ path('book_recent') }}" role="button">More&hellip;</a></p>
        </div>
    </div>
{% endblock %}
