{% extends "LibraryBundle::base.html.twig" %}

{% block title %}{{ book.title }} &#8211; Social Library{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('book_index') }}">Home</a></li>
        <li><a href="{{ path('book_list') }}">Books</a></li>
        <li class="active">{{ book.title }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ book.title }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                {% if book.cover %}
                    <img src="{% if 'http://' in book.cover %}{{ book.cover }}{% else %}{{ asset('uploads/' ~ book.cover) }}{% endif %}"
                         alt="{{ book.title }}">
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-9">
            <ul class="list-unstyled">
                <li>
                    <strong>Authors:</strong>
                    {% for author in book.authors %}
                        {{ author.firstName }} {{ author.lastName }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
                <li>
                    <strong>Genres:</strong>
                    {% for genre in book.genres %}
                        <a href="{{ path('book_genre', {id: genre.id}) }}">{{ genre.name }}{% if not loop.last %}, {% endif %}</a>
                    {% endfor %}
                </li>
                <li><strong>Number of pages:</strong> {{ book.numberOfPages }}</li>
                <li><strong>ISBN:</strong> {{ book.isbn }}</li>
            </ul>
        </div>
    </div>

    <hr>

    <h2>Description</h2>
    <p>{{ book.annotation }}</p>

    <h2>Related Books</h2>
    <div class="row row-list">
        {% for relatedBook in relatedBooks %}
            <div class="col-xs-6 col-md-3">
                <a href="{{ path('book_view', {id: relatedBook.id}) }}" class="thumbnail">
                    {% if relatedBook.cover %}
                        <img src="{% if 'http://' in relatedBook.cover %}{{ relatedBook.cover }}{% else %}{{ asset('uploads/' ~ relatedBook.cover) }}{% endif %}"
                             alt="{{ relatedBook.title }}">
                    {% endif %}
                    <h3>
                        <small>{{ relatedBook.title }}</small>
                    </h3>
                    <h4>
                        <small>
                            {% for author in relatedBook.authors %}
                                {{ author.firstName }} {{ author.lastName }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </small>
                    </h4>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}